input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
}

.container {
  background-image: url('../../assets/images/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.89);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.message {
  margin-top: 0;
  height: 22px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 8px;
}


.form > label:last-of-type {
  margin-bottom: 16px;
}

.input {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
}

.input:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 300px;
  gap: 10px;
}


.button {
  margin-left: 16px;
  border-radius: 5px;
  border: #1976D2 solid 1px;
  color: #1976D2;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
}

.button:hover {
  border: #2196f3 solid 2px;
}
