.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  /* margin-top: 60px; */
}

.overlayText {
  position: absolute;
  color: black;
  border-radius: 7px;
  padding: 5px 15px;
  text-align: center;
  margin: 10%;
  overflow: hidden;
  transition: opacity 0.3s;
}

.active {
  filter: drop-shadow(0 0 1rem rgb(34, 238, 58));
  cursor: pointer;
}

.inactive {
  filter: drop-shadow(0 0 1rem #e23);
  cursor: pointer;
}

.underMaintenance {
  filter: drop-shadow(0 0 1rem rgb(255, 238, 0));
  cursor: pointer;
}

.retired {
  filter: drop-shadow(0 0 1rem rgb(9, 9, 9));
  cursor: pointer;
}
