.container {
  background-image: url('../../assets/images/floor3.jpg');
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-height: 100%;
  min-width: 100%; */
}

.avs {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 80%;
}

.report {
  min-width: 400px;;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 5px;
}

