.container {
  background-image: url('../../assets/images/floor3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avs {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 80%;
}

.report {
  min-width: 400px;;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.629);
  border-radius: 5px;
}

